html {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header nav a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

header nav a:hover {
    color:  #333333;
}

.banner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1468186402854-9a641fd7a7c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
    color: #fff;
    padding: 30px;
    text-align: center;
}

.banner h1 {
    font-size: 40px;
}

/* vertical list */
.list {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.list li {
    list-style: none;
    margin: 10px 0;
}

.list li a {
    color: #333;
    text-decoration: none;
}

.list li a:hover {
    color: #000;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.table td {
    padding: 10px;
    color: rgb(112, 112, 112);
    border-bottom: 1px solid #ddd;
}

.table td a {
    color: rgb(66, 66, 66);
    text-decoration: none;
}

.table td a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.2s;

}

.table tr:nth-child(even) {
    background: #f2f2f2;
}

.table tr:hover {
    background: #ddd;
}







