html {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header nav a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

header nav a:hover {
    color:  #333333;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    padding: 10px;
    text-align: left;
}

.table td {
    padding: 10px;
    color: rgb(112, 112, 112);
    border-bottom: 1px solid #ddd;
}

.table td a {
    color: rgb(66, 66, 66);
    text-decoration: none;
}

.table td a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: 0.1s;

}

.table tr:nth-child(even) {
    background: #f2f2f2;
}

.table tr:hover {
    background: #ddd;
}

.table .tHeader:hover {
    background: rgb(255, 255, 255);
}







