html {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

header nav a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

header nav a:hover {
    color:  #333333;
}

.container {
    width: 100%;
    /* overflow-x: scroll */
}

.table {
    width: 100%;
    margin-top: 64px;
}


.table td,
.table th {
    text-align: left;
    padding: 15px;
    font-size: 15px !important;
    font-weight: 700;
    border-bottom: 1.5px solid #e5e5e5
}

.table td {
    font-weight: 400
}

.table td a {
    color: #5e84f7;
    text-decoration: none
}

.table td a:hover {
    text-decoration: underline
}

.table td span {
    color: #939393
}

.table td .hashLoader {
    width: 250px
}

.table .tableRows:hover {
    background: #f1f1f1;
    transition: all .3s ease-out
}

.table .hidden {
    display: none
}

.table .expandFlex {
    display: flex;
    margin-bottom: 50px;
}

.table .expandFlex .fromHolder,
.table .expandFlex .toHolder {
    width: 48%;
    padding: 10px;
}

.table .expandFlex .arrow {
    text-align: center;
    padding-top: 8px
}

  .card {
    margin: auto 0;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25); */
    /* padding: 0.75rem; */
  }
  
  .input {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 1.5rem;
  }
  
  .input-label {
    color: #888888;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
  }
  
  .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #e5e5e5;
    font: inherit;
    font-size: 1rem;
    padding: 0.25rem 0;
  }
  .input-field:focus, .input-field:valid {
    outline: 0;
    border-bottom-color: #333333;
  }
  .input-field:focus + .input-label, .input-field:valid + .input-label {
    color: #333333;
    transform: translateY(-1.5rem);
  }
  
  .action {
    margin-top: 2rem;
  }

  
  .action-button {
    font: inherit;
    font-size: 1.1rem;
    padding: 0.5em;
    width: 100%;
    font-weight: 500;
    background-color: #888888;
    border-radius: 6px;
    color: #fff;
    border: 0;
  }
  
    .action-button:hover {
        background-color: #333333;
        cursor: pointer;
        transition: all 0.2s ease;
    }  

  .action-button:focus {
    outline: 0;
  }
 